<div>
  <table>
      <tr>
        <th>Dags</th>
        <th>Nafn</th>
        <th>Kennitala</th>
        <th>Athugasemd</th>
      </tr>
      <% data.forEach((item) => { %>
        <tr>
          <td><%= item.signed %></td>
          <% if (!item.anonymous) { %>
            <td><%= item.name; %></td>
          <% } else { %>
            <td>anonumous user</td>
          <% } %>
          <td><%= item.nationalid %></td>
          <td><%= item.comment %></td>
        </tr>
      <% }) %> 
  </table>
</div>